body {
    background-color: black;
    color: limegreen;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #003622, black);
}

@media (max-width: 600px) {
    body {
        font-size: 0.6rem;
    }
}
